从解决issue看express-http-proxy代理的原理

这篇文章的由来，是为了解决[issue](https://github.com/ant-design/ant-design-pro/issues/973)而做的总结。本来以为是使用不当，造成解析问题。深入追踪后发现是依赖包express-http-proxy没考虑这种情况，“一刀切”按照普通方式处理造成的。

## 抽丝剥茧的过程
[示例工程](https://github.com/valleykid/express-http-proxy-issue-reproduce)，请求响应的过程可以下图展示：

![](https://pic4.zhimg.com/80/v2-2547cf14ee5419733386c10876930ed4_hd.jpg)

首先看用户的代码逻辑，很简单就是用了application/x-www-form-urlencoded，并把参数通过qs.stringify(newOptions.body)处理&连接的字符串。

既然是真实server端接收到了{'{"username":"abc@qqqq.com", "password":"123"}': ''}这种形式的body，值得怀疑的地方有：
* 请求参数处理不当
* 代理配置有误
* 代理服务器请求有误
* 真实服务器未能识别格式。

### 疑点1：请求参数处理不当？ 
这个和MIME类型有关，科普下相关知识点。

> MIME全名叫多用途互联网邮件扩展（Multipurpose Internet Mail Extensions），指的是一系列的电子邮件技术规范，主要包括RFC 2045、RFC 2046、RFC 2047、RFC 4288、RFC 4289和RFC 2077。最初是为了将纯文本格式的电子邮件扩展到可以支持多种信息格式而定制的。后来被应用到多种协议里，包括我们常用的HTTP协议。

浏览器和服务器互发消息，消息头规定了是什么类型的消息(Content-type)，消息体就要是什么样的格式，这样彼此才能正确处理和解析消息。
```base
application/x-www-form-urlencoded # 使用HTTP的POST方法提交的表单
multipart/form-data # 同上，但主要用于表单提交时伴随文件上传的场合
```
这两者规定了发送表单消息的格式。 x-www-form-urlencoded会将表单内的数据转换为键值对，不同的field会用"&"符号连接;空格被替换成"+";field和value间用”=“连接。如果是手动处理参数，也要处理成这种格式。 这说明，从浏览器发送消息到代理服务器，MIME设置和body格式，都是正确的。

### 疑点2：代理配置有误？ 
ant-design-pro项目中的mock主要依赖了roadhog，也就是代理是roadhog代为完成的。关键代码如下：
```js
import proxy from 'express-http-proxy';
// ...
function createProxy(method, path, target) {
    return proxy(target, {
        // ...
    });
}
...
devServer.use(bodyParser.json({ limit: '5mb', strict: false }));
devServer.use(
    bodyParser.urlencoded({
        extended: true,
        limit: '5mb',
    }),
);
// ...
Object.keys(config).forEach(key => {
    const keyParsed = parseKey(key);
    // ...
    if (typeof config[key] === 'string') {
        let { path } = keyParsed;
        if (/\(.+\)/.test(path)) {
             path = new RegExp(`^${path}$`);
        }
        // 创建代理
        app.use(path, createProxy(keyParsed.method, path, config[key]));
    } else {
        // 本地mock
        app[keyParsed.method](
            keyParsed.path,
            createMockHandler(keyParsed.method, keyParsed.path, config[key]),
        );
    }
});
```
简单解释下，浏览器发送post到代理服务器，bodyParser会正确解析消息体并把数据以json格式存储到req.body。代理服务器响应的处理交由express-http-proxy去完成了。
看用户的代理配置很简单，并没有什么问题。
```js
export default noProxy ? { ‘POST /v2/api/*’: ‘http://127.0.0.1:3000’ } : delay(proxy, 1000);
```

### 疑点3：真实服务器未能识别格式？ 
调试发现，POST请求发出时，参数形式已经改变(此时已经可以定位到出错点)，然后又把结果响应给代理服务器，这期间真实服务器这端没有什么问题。相关代码如下:
```js
app.post('/', (req, res) => {
    const data = req.body;
    console.log('postbody', data);
    res.send(data);
});
```

### 疑点4：代理服务器请求有误！
express-http-proxy处理是个暗箱操作，暗箱里肯定存在处理req.body不当的地方。然后再把请求打包发送时，就造成了消息体格式问题。翻翻该包关键的代码，发现几处相关的：
```
# 该文件主要是处理options，会直接用浏览器端请求的headers大部分配置
/lib/requestOptions.js

# 这些文件处理body
/app/steps/buildProxyReq.js
/app/steps/decorateProxyReqBody.js
/app/steps/prepareProxyReq.js

# 该文件主要是向真实服务器发送请求，并监听真实服务器返回的数据
/app/steps/sendProxyRequest.js

# 该文件主要是响应浏览器端请求，并把真实服务器返回的数据 返回到浏览器端
/app/steps/sendUserRes.js
```

关键的处理不当的代码如下：
```js
// ** 从代理服务器获取到req.body(json对象)，赋值给bodyContent
var parseBody = (!options.parseReqBody) ?
    Promise.resolve(null) :
    requestOptions.bodyContent(req, res, options);
// ...
return Promise
.all([parseBody, ...])
.then(function(responseArray) {
    Container.proxy.bodyContent = responseArray[0];
    // ...
    return Container;
});

if (bodyContent) {
    // ** 无视content-type，把bodyContent直接转成了json字符串
    bodyContent = container.options.reqAsBuffer ?
        as.buffer(bodyContent, container.options) :
        as.bufferOrString(bodyContent);
        // ...
}
container.proxy.bodyContent = bodyContent;

if (options.parseReqBody) {
    // ...
    if (bodyContent.length) {
       // ** 直接利用json字符串，而与content-type要求的格式不符
       proxyReq.write(bodyContent);
    }
    proxyReq.end();
}
```

## proxy的原理
通过issue的追踪定位和对express-http-proxy的源码分析，可以很清楚地知道，核心模块就是http，核心方法就是http.request。浏览器发送请求到代理服务器，代理服务器通过http.request发送请求到真实服务器，然后在获取数据后返回结果给浏览器。就是这么简单~